/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

a { text-decoration: none; }

.all-wrapper { margin: 0 auto; min-width: 1000px; max-width: 1900px; width: 100%; clear: both; font-family: Times, sans-serif; }

.header { float: left; width: 100%; padding-bottom: 5.2%; position: relative; background: url(../img/header.png) no-repeat top center; }

.menu { width: 25%; position: absolute; top: 0px; right: 0px; z-index: 9999; }

#divWin { width: 55.52%; padding-bottom: 4.4%; float: right; background: #323232; position: relative; visibility: hidden; }

#closetButton { position: absolute; top: 11px; right: 10px; width: 37px; height: 36px; background: url(../img/icons/icon-closet.png) no-repeat center center; cursor: pointer; }

#closetButton:hover { background: url(../img/icons/Cicle1.png) no-repeat center center; }

.menu__panel { float: right; width: 100%; padding: 0px; margin: 0px; }

.menu__item { float: left; padding: 0px; margin: 0px; width: 100%; }

.menu__link { float: left; width: 76%; padding: 11% 12% 12% 12%; margin: 0px; color: white; line-height: 1; font-family: "clear_sans_lightregular"; font-size: 15pt; border-bottom: 1px solid #353b43; }

.menu__link:hover { background: white; color: #4b4b50; border-bottom: 1px solid white; }

.is-last__link { border-bottom: none; }

.is-last__link:hover { border-bottom: none; }

.menu__button { float: left; padding: 0px 58px 17px 0px; margin: 12.1% 0px 0px -1px; font-family: "clear_sans_lightregular"; font-size: 15pt; color: #4b4b50; cursor: pointer; letter-spacing: 0px; background: url(../img/icons/menu-button.png) no-repeat right bottom; }

.header__text { width: 100%; text-align: center; padding-top: 156px; color: white; line-height: 1.4; }
.header__text h1 { font-family: "PTSerifBold"; font-size: 28pt; letter-spacing: 2.7px; }
.header__text p { font-family: "clear_sans_lightregular"; font-size: 18pt; margin-bottom: 2.95%; line-height: 2; letter-spacing: 1.2px; }
.header__text p span { padding-left: 7px; }

.header__btn { width: 259px; margin: 0 auto; }

.header__blog { display: block; border: 1px solid #f1efe3; font-family: "clear_sansregular"; font-size: 18pt; padding: 23px 94px 24px 102px; width: 64px; float: left; margin-left: -7px; letter-spacing: 2px; color: white; }

.header__blog:hover { background: white; color: #4b4b50; }

.content { float: left; width: 100%; clear: both; padding: 0px; margin: 0px; text-align: center; }

.box-blue { background: #70b4eb; }

.box { float: left; width: 46%; padding: 6.7% 2% 105px 2%; text-align: center; height: 200px; overflow: hidden; position: relative; }

.box__link { text-align: center; font-family: "PTSerifRegular"; font-size: 22pt; color: #f1efe3; display: block; margin: 0 auto; overflow: hidden; letter-spacing: 3px; }

.box__link:hover { color: #4b4b50; }

.box__border { border-bottom: 1px solid #f1efe3; position: absolute; bottom: 215px; right: 39.5%; width: 21%; }

.wrapper-box__button { position: absolute; bottom: 93px; left: 0px; width: 100%; }

.box__button { font-family: "clear_sans_lightregular"; font-size: 18pt; display: block; margin: 0 auto; text-align: center; letter-spacing: 1.3px; border: 1px solid #f1efe3; color: white; width: 280px; padding: 12px 1% 15px 1%; }

.box__button:hover { background: white; color: #4b4b50; border: 1px solid white; }

.box-white a { color: #4b4b50; }
.box-white .box__link:hover { color: #70b4eb; }
.box-white .box__border { border-bottom: 1px solid #4b4b50; }
.box-white .box__button { border: 1px solid #4b4b50; }
.box-white .box__button:hover { background: #70b4eb; color: white; border: 1px solid #70b4eb; }

.is-pdt { padding-top: 8%; }

.footer { float: left; width: 90.2%; padding: 10.7% 4.9% 27px 4.9%; text-align: center; }

.networks { width: 600px; margin: 0 auto; }

.networks__item { float: left; margin: 0px 14px 0px 13px; }
.networks__item a { float: left; text-align: center; height: 44px; width: 44px; padding: 38px; border: 1px solid #323232; border-radius: 50%; }
.networks__item a span { cursor: pointer; }

.skype span { float: left; displat: block; width: 44px; height: 43px; overflow: hidden; background: url(../img/icons/skype.png) no-repeat; background-position: 0px -43px; }

.skype:hover span { background-position: 0px 0px; }

.rss span { float: left; displat: block; margin-top: 5px; margin-left: 10px; width: 34px; height: 30px; overflow: hidden; background: url(../img/icons/rss.png) no-repeat; background-position: 0px -30px; }

.rss:hover span { background-position: 0px 0px; }

.facebook span { float: left; display: block; margin-top: 2px; margin-left: 12px; width: 20px; height: 40px; overflow: hidden; background: url(../img/icons/facebook.png) no-repeat; background-position: 0px -40px; }

.facebook:hover span { background-position: 0px 0px; }

.vkontakte span { float: left; display: block; margin-top: 2px; margin-left: 7px; width: 34px; height: 42px; overflow: hidden; background: url(../img/icons/vkontakte.png) no-repeat; background-position: 0px -42px; }

.vkontakte:hover span { background-position: 0px 0px; }

.copyright { padding-top: 7.2%; float: left; clear: both; text-align: left; line-height: 2.2; }
.copyright p { color: #4b4b50; font-size: 10.5pt; font-family: "clear_sansregular"; letter-spacing: 1.06pt; }

.pg1 .footer { padding: 6.7% 4.9% 27px 4.9%; }

.page { margin: 0 auto; width: 960px; margin-top: 13.7%; text-align: center; line-height: 32pt; }

.page__link { font-size: 22pt; letter-spacing: 2.6pt; font-family: "PTSerifRegular"; color: #4b4b50; }

.page__link:hover { color: #70b4eb; }

.date { padding-top: 1px; font-size: 17pt; letter-spacing: 2pt; font-family: "clear_sans_lightregular"; color: #a6a6a6; }

.page__border { margin: 0 auto; margin-top: 48px; margin-bottom: 127.68px; width: 400px; border-bottom: 1px solid #cccccc; }

.page__navigation { text-align: center; margin: 0 auto; margin-top: 20.4%; }
.page__navigation .page__button { padding: 0px 0px 0px 0px; width: 58px; height: 58px; margin: 7px 7px 7px 7px; border-radius: 50%; text-align: center; display: inline-block; color: #4b4b50; }
.page__navigation .page__button span { margin: 0 auto; cursor: pointer; font-size: 30px; width: 58px; line-height: 0; padding-top: 29px; letter-spacing: 0px; font-family: "clear_sans_lightregular"; display: block; }
.page__navigation .page__prev span { background: url(../img/arrow_1.png) no-repeat 50% 40%; width: 58px; padding-top: 29px; height: 29px; }
.page__navigation .page__next span { background: url(../img/arrow_2.png) no-repeat 50% 40%; width: 58px; padding-top: 29px; height: 29px; }
.page__navigation .page__active { border: 1px solid #222222; margin: 6px 6px 6px 6px; color: #70b4eb; }
.page__navigation .page__button:hover { border: 1px solid #cccccc; margin: 6px 6px 6px 6px; }

.page__footer { width: 100%; margin: auto; padding-top: 19.6%; clear: both; letter-spacing: 0px; color: #4b4b50; }
.page__footer .page__heading { font-family: Times; font-size: 28pt; padding-bottom: 19px; display: block; font-family: "PTSerifRegular"; letter-spacing: 0.6pt; }
.page__footer p { font-family: "clear_sans_lightregular"; font-size: 18pt; letter-spacing: 0.9pt; color: #777777; }
.page__footer p a { color: #222222; }
.page__footer p a:hover { color: #137bd0; }

.pg-contact { padding-top: 6.53%; padding-bottom: 1.8%; }
.pg-contact .page__border { margin-bottom: 66px; }

.heading { font-size: 45pt; letter-spacing: 1.7pt; font-family: "PTSerifRegular"; font-weight: normal; color: #4b4b50; line-height: 1; padding-bottom: 2px; letter-spacing: 2.8px; }

.subheading { font-size: 26pt; font-family: "PTSerifRegular"; color: #00579d; width: 1000px; display: block; margin: 0 auto; line-height: 45pt; letter-spacing: 0.18pt; }

.contact { width: 80.315%; margin: 0 auto; padding-top: 102px; }

.contact__info { float: left; padding-top: 7.8%; width: 35%; padding-right: 2%; padding-left: 1.5%; text-align: left; color: #777777; font-family: "clear_sans_lightregular"; font-size: 16.5pt; letter-spacing: 0.15pt; }
.contact__info a { color: #222222; float: left; clear: both; margin-top: 28px; }
.contact__info a:hover { color: #70b4eb; }

.contact__form { float: right; width: 61%; }
.contact__form input { float: left; clear: both; width: 92.23%; padding: 2.5% 3.81% 2.6% 3.7%; border: solid 1px #cccccc; font-size: 13pt; font-family: "clear_sans_lightregular"; margin-bottom: 29px; color: #4b4b50; letter-spacing: 0.2pt; }
.contact__form textarea { float: left; clear: both; height: 324px; resize: none; width: 92.23%; padding: 2.3% 3.81% 2.6% 3.7%; border: solid 1px #cccccc; font-size: 13pt; font-family: "clear_sans_lightregular"; color: #4b4b50; margin-top: 2px; margin-bottom: 30px; letter-spacing: 0.2pt; }
.contact__form .contact__button { border: solid 1px #70b4eb; background: white; float: left; color: #4b4b50; line-height: 1; padding: 2.9% 5.4% 3.4% 5.5%; cursor: pointer; font-family: "clear_sans_lightregular"; font-size: 16pt; }
.contact__form .contact__button:hover { background: #70b4eb; color: white; }

.pg-about { padding-top: 6.53%; padding-bottom: 0%; }

.page__border-about { width: 500px; }

.about { width: 92%; clear: both; margin: 0 auto; padding-top: 5px; padding-bottom: 0px; max-width: 1530px; padding-right: 4%; padding-left: 4%; }
.about p, .about ul li { font-family: "texgyretermesregular"; font-size: 18px; letter-spacing: -0.23pt; line-height: 22.5pt; color: #4b4b50; }

.about ul li { font-size: 19px; line-height: 1.9; letter-spacing: -0.58pt; }

.about__paragraph { text-align: left; color: #3f3f41; }

.about__sidebar { float: right; width: 485px; height: 710px; overflow: hidden; margin-left: 100px; margin-top: 10px; margin-bottom: 15px; }
.about__sidebar img { float: left; width: 587px; height: 887px; margin-top: -155px; margin-left: -85px; }

.about__footer { width: 100%; text-align: left; clear: both; padding-top: 12.75%; }

.about__subheading { font-family: "PTSerifRegular"; font-size: 35.7pt; color: #4b4b50; letter-spacing: -2.33pt; display: block; width: 100%; height: 100px; line-height: 1.15; }

.about__footer-left { float: left; width: 60.6%; padding-right: 3%; }

.about__footer-right { float: right; width: 36.4%; }

.about__footer-center { float: left; width: 100%; clear: both; padding-top: 13.5%; }
.about__footer-center .about__subheading { text-align: center; letter-spacing: -2.3px; }

ul.about__footer-list li { font-size: 20px; letter-spacing: 0pt; line-height: 1.8; }

.l-left { float: left; width: 60%; padding-right: 3.6%; }

.l-right { float: right; width: 36.4%; }

.is-clear { clear: both; }

.about__footer-center .subheading { text-align: center; width: 1000px; }
.about__footer-center .about__contacts { width: 70%; display: block; margin: 0 auto; text-align: center; padding-top: 2.85%; color: #777777; font-family: "clear_sans_lightregular"; font-size: 16.5pt; letter-spacing: 0.1pt; }
.about__footer-center .about__contacts a { color: #222222; clear: both; display: block; margin-top: -3px; margin-bottom: 73px; }
.about__footer-center .about__contacts a:hover { color: #70b4eb; }

.ft-about { padding-top: 5%; }

.article { padding-top: 3.65%; }

.arrow-back { display: block; width: 51px; height: 9px; margin: 0 auto; margin-bottom: 6.4%; background: url(../img/arrow-lbb.png) no-repeat center center; }

.article__heading { font-family: "PTSerifRegular"; font-size: 42pt; font-weight: normal; color: #4b4b50; margin-bottom: 1.6%; letter-spacing: 2.3px; }

.article__border { margin: 0 auto; margin-top: 53px; margin-bottom: 72px; width: 400px; border-bottom: 1px solid #cccccc; }

.article__block { width: 938px; margin: 0 auto; padding: 0px 0px 25px 0px; text-align: left; }
.article__block p { color: #333333; }

.article__italic { font-family: "texgyretermesbold_italic"; font-size: 15pt; padding-bottom: 35px; letter-spacing: 0.2px; line-height: 1.45; }
.article__italic span { color: #1886de; font-size: 17pt; letter-spacing: 0.6px; }

.article__texgyre { padding-top: 28px; font-family: "texgyretermesregular"; font-size: 15pt; line-height: 1.5; letter-spacing: -0.16px; }

.article__ptserif { font-family: "PTSerifBold"; font-size: 28pt; text-align: center; padding-top: 98px; color: #4b4b50; letter-spacing: 1.3px; }

.article__coment { text-align: left; width: 938px; padding: 25px 0px 25px 0px; margin: 0 auto; }

.b-com__head { font-family: "clear_sansregular"; font-size: 25px; color: #1886de; padding: 15px 0px 18px 0px; margin-top: 60px; margin-bottom: 60px; letter-spacing: 1px; width: 100%; clear: both; border-bottom: 1px solid #cccccc; }

.b-com__sidebar { float: left; width: 165px; }

.b-com__avatar { display: block; border-radius: 50%; border: 1px solid black; width: 130px; height: 130px; overflow: hidden; margin-top: 10px; }
.b-com__avatar div { width: 130px; display: block; float: left; height: 130px; background: url(../img/avatar.png) no-repeat center center; background-size: cover; -webkit-background-size: cover; }

.b-com__main { display: block; padding-left: 165px; }
.b-com__main .date { float: left; padding: 13px 0px 0px 59px; font-size: 19px; letter-spacing: 1pt; font-family: "clear_sans_lightregular"; color: #777777; }

.b-com__username { font-family: "clear_sansregular"; font-size: 30px; color: #4b4b50; float: left; letter-spacing: 1.8px; }

.b-com__grey { padding: 20px 60px 20px 36px; border-left: 1px solid #cccccc; float: left; line-height: 1.5; color: #777777; font-family: "texgyretermesregular"; font-size: 15pt; margin: 20px 0px 40px 4px; letter-spacing: 0.6px; }

.b-com__main p { font-family: "texgyretermesregular"; font-size: 13.8pt; line-height: 1.7; clear: both; color: #333333; padding: 0px 60px 24px 2px; letter-spacing: 0.9px; }

.b-com__answ { color: #1886de; font-family: "clear_sans_lightregular"; font-size: 22px; float: left; clear: both; margin-top: 20px; margin-bottom: 43px; letter-spacing: 1.5px; }

.article__form { float: left; padding-top: 10px; clear: both; margin-bottom: 34%; width: 100%; }

.pg-training { padding-top: 124px; padding-bottom: 50px; }

.training__border { width: 743px; margin-top: 48px; margin-bottom: 13px; }

.training { margin: 0 auto; text-align: left; width: 932px; letter-spacing: 0.9px; clear: both; padding-top: 80px; }

.training__heading { font-family: "PTSerifBold"; clear: both; font-size: 36px; color: #4b4b50; padding-bottom: 37px; letter-spacing: 1.8px; text-align: center; }

.training__paragraph { font-family: "texgyretermesregular"; font-size: 19px; color: #333333; padding-bottom: 30px; line-height: 1.6; }
.training__paragraph span { float: left; width: 100%; margin-top: 16px; margin-bottom: 23px; }

.training__subheading { font-family: "texgyretermesbold"; font-size: 19px; color: #333333; }

.training__paragraph_italic { font-family: "texgyretermesbold_italic"; }

.more { font-family: "clear_sans_lightregular"; font-size: 19px; padding: 22px 22px 20px 25px; border: solid 1px #70b4eb; color: #137bd0; letter-spacing: 0.8px; display: block; float: left; margin-bottom: 59px; margin-top: 40px; }

.more:hover { background: #70b4eb; color: white; }

.reviews .article__form { margin-bottom: 14%; }

.reviews__border { width: 500px; margin-bottom: 60px; }

.reviews__com { width: 980px; margin: 0 auto; text-align: left; }
.reviews__com .b-com__main { padding: 9px 0px 40px 0px; }
.reviews__com .b-com__main p { width: 100%; font-size: 14.7pt; line-height: 1.5; padding: 26px 60px 25px 2px; letter-spacing: 0.47px; }

.b-com__rev { width: 980px; margin: 0 auto; text-align: left; }
.b-com__rev .b-com__head { padding-top: 30px; }
.b-com__rev p { font-family: "texgyretermesregular"; font-size: 18px; clear: both; padding-left: 3px; color: #333333; }

.b-com__pr { width: 90%; padding: 25px 10% 28px 0px; float: left; }

.services { width: 932px; }

.services__border { width: 400px; margin-bottom: 15px; }

.services__heading { font-family: "texgyretermesregular"; clear: both; font-size: 36px; color: #4b4b50; padding-bottom: 40px; text-align: center; letter-spacing: -0.6px; }

.services__paragraph { font-family: "texgyretermesregular"; font-size: 19px; color: #4b4b50; padding-bottom: 30px; }

.services { width: 940px; }

@media only screen and (max-width: 1250px) { .box { height: 240px; } }
